root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2
indent_style = space

[*.{css,scss,js,jsx,ts,tsx,sh,less,.eslintrc,.prettierrc}]
indent_size = 2
indent_style = space
insert_final_newline = true

[*.md]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false
